@model FourthWeb.Models.AppartmentModel
@{
    ViewData["Title"] = "Show Page";
}
    <div class="text-left">
        <p>
            IdAPP: <strong>@Model.IdAPP</strong> <br>
            BuildingYear: <strong>@Model.BuildingYear</strong> <br>
            Flat: <strong>@Model.Flat</strong> <br>
            Rooms: <strong>@Model.Rooms</strong> <br>
            Square: <strong>@Model.Square</strong> <br>
        </p>
    </div>
